/*-----------------------------------------------------------------------------------

    @version  :	1.0.0
    @author   : sai4ul
    @url 	  : https://github.com/sai4ul/init-html-starter-kit

-----------------------------------------------------------------------------------*/


// Global SCSS                     
    @import "global/mixins";            
    @import "global/variables";         
    @import "global/global";           
    @import "global/button";           
    @import "global/animation"; 
    
// Documentation        
    @import "pages/doc";

// layout                            
    @import "layout/header";        
    @import "layout/footer";        
    @import "layout/hero";

//Section - Free cards
    @import "section/team_cards";
    @import "section/services_cards";
    @import "section/product_cards";
    @import "section/new_cards";
    @import "section/blog_cards";
    @import "section/table";


	

// Call your sass file 
