
.header-area {
    box-shadow: 0 0 10px 0 rgba(6, 27, 40, 0.1);
    @media #{$xs-to-md-max}{
        padding: 18px 10px;
    }
    // Header Bottom
    .main-menu{
        .listing{
            .single-list{
                display: inline-block;
                position: relative;
                z-index: 1;
                // margin: 0px 14px;
                .single{
                    @include transition(.3s);
                    color: var(--primary-title);
                    font-weight: 500;
                    padding: 38px 14px;
                    display: block;
                    font-size: 16px;
                    text-transform: capitalize;
                    @media #{$lg}{
                        padding: 31px 5px;
                    }
                }
                // Search
                &.search{
                    margin-left: 12px;
                    .single{
                        padding: 5px 8px ;
                    }
                    i{
                        background: var(--primary);
                        cursor: pointer;
                        padding: 15px 15px ;
                        color: #fff ;
                        font-size: 16px;
                        border-radius: 50%;
                    }
                }
                &:hover{
                    & > .single{
                        color:var(--primary);
                        &::before{
                            left: 0;
                            right: auto;
                            width: 100%;
                            -webkit-transition: .4s;
                            -o-transition: .4s;
                            transition: .4s;
                        }
                    }
                }

            }
            .listing.submenu{
                position: absolute;
                width: 220px;
                background: #fff;
                left: 0;
                top: 90%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                @include transition(.3s);
                border-radius: 4px;
                @media #{$lg}{
                    right: 0;
                    left: auto;
                }
                & > .single-list{
                    margin-left: 7px;
                    display: block;
                    & > .single{
                        padding: 6px 10px !important;
                        font-size: 16px;
                        text-transform: capitalize;
                        &::before{
                            position: unset;
                        }
                        &:hover{
                            color:var(--primary);
                            background: none;
                            padding-left: 13px !important;
                        }
                    }
                } 
            }
        }
    }
}

.header-style-one{
    .main-menu .listing > .single-list > .single {
        color: #fff;
    }
    .main-menu  .listing.submenu > .single-list > .single {
       color: var(--primary-title);
       padding: 8px 14px;
    }
}
// Hover Show Sub-menu
.main-header .listing > .single-list:hover > .listing.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

//! header Sticky  & Responsive
.header-sticky{
  &.sticky-bar{
      background: $white;
  }
}

//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -38px;
            right: 20px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color:var(--primary) !important;
            }
        }
        .slicknav_nav{
            margin-top: 8px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a{
                font-size: 16px;
                &:hover {
                
                    color: var(--primary);
                }
            }
            .btn-primary-fill{
                display: inline-block;
                padding: 11px 16px;
                color: var(--white);
                border-radius: 6px;
            }
            .header-btn2{ 
                display: inline-block;
                border-radius: 30px;
                margin-left: 0;
            }
            // Dropdown Menu button Padding None
            .slicknav_item a {
                padding: 0 !important;
            }
            .slicknav_arrow {
                color: var(--primary);
            }
        }
    }
}
