/* Preview img */
.single-preview {
    a {
        position: relative;
        display: block;
        text-align: center;
        height: 500px;
        -webkit-transition: background-position 8s ease-in-out;
        transition: background-position 8s ease-in-out;
        background-size: contain;
        width: 100%;
        background-position: center;
        background-size: 100% 100%;
        &:hover {
            background-position:0px 100%;
            &::before {
                background: rgba(173, 170, 169, 0.3);
            }
            &::after{
                opacity: 1;
            }
        }
    }
}

// Receipt Height
#receipt .single-preview a{
    height: 755px;
}


.stickyStye {
	clip-path: polygon(100% 0%, 90.6% 52.17%, 100% 100%, 0px 100%, -.49% 47%, 0px 0px);
	color: #ffffff;
	background: var(--primary-title);
    text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	padding: 6px 54px 5px 18px;
	margin-bottom: 0;
	display: inline-block;
	text-align: center;
	padding-right: 34px;
    position: absolute;
    top: -43px;
    left: 0;
    z-index: 6;
}

/* Modern  */
    .preview-image-1{
        background:url("../images/demo/modern1.png") 0 0 no-repeat;
    }
    .preview-image-2{
        background:url("../images/demo/modern2.png") 0 0 no-repeat;
    }
    .preview-image-3{
        background:url("../images/demo/modern3.png") 0 0 no-repeat;
    }

// Regular
    .preview-image-4{
        background:url("../images/demo/regular1.png") 0 0 no-repeat;
    }
    .preview-image-5{
        background:url("../images/demo/regular2.png") 0 0 no-repeat;
    }
    .preview-image-6{
        background:url("../images/demo/regular3.png") 0 0 no-repeat;
    }
    .preview-image-7{
        background:url("../images/demo/regular4.png") 0 0 no-repeat;
    }

// Regular
    .preview-image-20{
        background:url("../images/demo/receipt1.png") 0 0 no-repeat;
    }
    .preview-image-21{
        background:url("../images/demo/receipt2.png") 0 0 no-repeat;
    }
    .preview-image-22{
        background:url("../images/demo/receipt3.png") 0 0 no-repeat;
    }
    .preview-image-23{
        background:url("../images/demo/receipt4.png") 0 0 no-repeat;
    }
