:root {
    --white: #fff;
    --light: #d8dbe0;
    --dark: #28292c;
    --info: #0dcaf0;
    
    --primary: #38475a;
    --secondary:#28B95E ;
    --tertiary:#F0783C ;
  
    --primary-rgb: 247, 62, 76;
    --secondary-rgb: 40, 185, 94;
    --tertiary-rgb: 240, 120, 60;

    --primary-title: #38475a;
    --secondary-title: #444A51;
    --tertiary-title:#494E5C;

    --primary-paragraph: #535b61;
    --secondary-paragraph: #475467;
    --tertiary-paragraph: #475467;
  
    --ratting-color:#FFC107;
    --ratting-color-rgb:255, 193, 7;

  	--primary-btn:#38475a;
	--secondary-btn:#F5761D;
	--tertiary-btn:#304839;

    --section-bg-one:#F9F9F9;
    --section-bg-two:#202430;
    --section-bg-three:#B2DFD352;
  
    --primary-border: #D0D5DD;;
    --secondary-border:#EDEDED;
    --tertiary-border: #D0D5DD;
    --primary-shadow : 0px 4.12121px 49.4545px rgba(0, 0, 0, 0.08);
    --secondary-shadow : 0px 4.12121px 49.4545px rgba(0, 0, 0, 0.08);
    --scrollbar-bg:#F0F0F0;
    --scrollbar-color:#c5c5c5;

    --font-awesome: 'font Awesome 6 free';
    --line-awesome: 'Line Awesome Free';
    --inter: 'Inter', sans-serif;;
    --gabriela: 'Gabriela', serif;
  
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter);
}

// Responsive variable (Bootstrap 0 -1599)
    $xs: '(max-width: 575px)';
    $sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
    $md: 'only screen and (min-width: 768px) and (max-width: 991px)';
    $lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
    $xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
    $xxl:'only screen and (min-width: 1400px) and (max-width: 1599px)';

// Custom ( 1600 - 3000)
    $large1:'only screen and (min-width: 1600px) and (max-width: 1799px)';
    $large2:'only screen and (min-width: 1800px) and (max-width: 1999px)';
    $large5:'only screen and (min-width: 2000px) and (max-width: 2399px)';
    $large6:'only screen and (min-width: 2400px) and (max-width: 2599px)';
    $large7:'only screen and (min-width: 2600px) and (max-width: 2799px)';
    $large8:'only screen and (min-width: 2800px) and (max-width: 2999px)';


// Max - width , Min - width
    $xs-to-sm-max: '(max-width: 767px)';
    $xs-to-sm-min: '(min-width: 767px)';

    $xs-to-md-max: '(max-width: 991px)';
    $xs-to-md-min: '(min-width: 991px)';

    $xs-to-lg-max: '(max-width: 1199px)';
    $xs-to-lg-min: '(min-width: 1199px)';

    $xs-to-xl-max: '(max-width: 1399px)';
    $xs-to-xl-min: '(min-width: 1399px)';

    $xs-to-xxl-max: '(max-width: 1599px)';
    $xs-to-xxl-min: '(min-width: 1599px)';


// Basic Color
    $white: #ffffff;
    $black: #000000;
    $gray:#f7f7fd;

//social colors
    $fb: #50598e;
    $facebook: #3b5999;
    $twitter: #55acee;
    $dribbble: #ea4c89;
    $behance: #131418;
    $google-plus: #dd4b39;
    $linkedin: #0077b5;
    $instagram: #e4405f;
    $youtube: #FF0000;
    $pinterest: #c8232c;

// Bootstrap color
    $danger: #dc3545;
    $success: #3CC13B;
    $info: #055160;
    $warning: #F3BB1C;
    $error: #F44336;
    $blue: #11cdef;
    $green : #4BD865;
    $light-gray : #e6edef;

.height-100vh{
    height: 100vh;
    color: var(--primary);
}

/*-- Margin Padding --*/
    @for $i from 6 through 200 {

        /*-- Margin To-Bottom-Left-Right --*/
        .mt-#{1 * $i}{
            margin-top: 1px * $i;
        }
        .mb-#{1 * $i}{
            margin-bottom: 1px * $i;
        }
        .ml-#{1 *$i}{
        margin-left: 1px * $i;
        }
        .mr-#{1 * $i}{
            margin-right: 1px * $i;
        }

        /*-- Padding To-Bottom-Left-Right --*/
        .pt-#{1 * $i}{
            padding-top: 1px * $i;
        }
        .pb-#{1 * $i}{
            padding-bottom: 1px * $i;
        }
        .pl-#{1 * $i}{
            padding-left: 1px * $i;
        }
        .pr-#{1 * $i}{
            padding-right: 1px * $i;
        }
    }

/*-- Margin Padding  0 --*/
    @for $i from 0 through 0 {

        /*-- Margin To-Bottom-Left-Right --*/
        .mt-#{0 * $i}{
            margin-top: 0px * $i !important;
        }
        .mb-#{0 * $i}{
            margin-bottom: 0px * $i !important;
        }
        .ml-#{0 *$i}{
            margin-left: 0px * $i !important;
        }
        .mr-#{0 * $i}{
            margin-right: 0px * $i !important;
        }

        /*-- Padding To-Bottom-Left-Right --*/
        .pt-#{0 * $i}{
            padding-top: 0px * $i !important;
        }
        .pb-#{0 * $i}{
            padding-bottom: 0px * $i !important;
        }
        .pl-#{0 * $i}{
            padding-left: 0px * $i !important;
        }
        .pr-#{0 * $i}{
            padding-right: 0px * $i !important;
        }
    }

/*-- Height-Weight --*/
    @for $i from 1 through 600 {
        .height-#{1 * $i}{
            height: 1px * $i !important;
        }
        .wight-#{1 * $i}{
            width: 1px * $i;
        }
    }

/*-- Border Radius --*/
    $i:0;
    @while $i<=20 {
        .radius-#{$i} {
            border-radius: #{$i}px !important;
        }
        $i:$i+1;
    }

/*-- Border width --*/
    @for $i from 0 through 10 {
        .border-#{1 * $i}{
            border-width: 1px * $i !important;
        }
    }

/*-- Border color, hover-same color bg and text color white --*/
    $border-colors-name: success, warning, error, danger, light, green, gray, black, white,
                        main-one, main-two, color-one, color-two;
    $border-colors: $success, $warning, $error, $danger, $gray, $green, $gray, $black, $white,
                    var(--primary), var(--secondary), var(--primary-border), var(--secondary-border);

    @each $i  in $border-colors-name {
        $j: index($border-colors-name, $i);
        .border-#{$i} {
            border-color: nth($border-colors, $j) !important;
            color: nth($border-colors, $j);
            &:hover{
                background: nth($border-colors, $j) !important;
                border-color: transparent !important;
                color: var(--white) !important;
            }
        }
    }

/*-- Border Style --*/
    $border-style-name: solid, dashed, none, unset, hidden, dotted, double, inherit;
    @each $i  in $border-style-name {
        .border-style-#{$i} {
            border-style: $i !important;
        }
    }

// Gap
    $i:0;
    @while $i<=50 {
        .gap-#{$i} {
            grid-gap: #{$i}px !important;
        }
        $i:$i+1;
    }

// Position 
    $i:static, absolute, fixed, relative, initial, inherit;
    @each $val in $i {
        .p-#{$val} {
            position: $val;
        }
    }

// Overflow 
    $i:hidden, visible, auto;
    @each $val in $i {
        .o-#{$val} {
            overflow: $val;
        }
    }

// font size
    $i:1;
    @while $i <= 50{
        .text-#{$i}{
            font-size: #{$i}px !important;
        }
        $i:$i+1;
    }

// Fonts weight
$i: 100,200,300,400,500,600,700,800,900;
@each $val in $i {
    .font-#{$val} {
        font-weight: $val;
    }
}



// Text color Class
    $text-name: primary, secondary, tertiary, success, danger, info, light, dark, white, warning , title, orange;
    $text-color: var(--primary),var(--secondary),var(--tertiary), $success,$danger,$gray,$gray,$black,var(--white),$warning, var(--primary-title), orange;
    @each $var in $text-name {
        $i: index($text-name, $var);
        .text-#{$var} {
            color: nth($text-color, $i) !important;
        }
    }

// Color Make
    $label-name: theme, primary, secondary, success, danger, info, light, dark, warning;
    $label-color: var(--primary),var(--primary),var(--secondary),$success,
                $danger,$gray,$gray,$black,$warning;

    @each $var in $label-name {
        $i: index($label-name, $var);
        .label-#{$var} {
            background-color: nth($label-color, $i);
        }
    }

// Text-color  
    $text-name: title, paragraph, primary, secondary, tertiary, success, danger, info, light, dark, warning, google-plus, twitter, linkedin, fb;
    $label-color: var(--primary-title), var(--primary-paragraph), var(--primary), var(--secondary), var(--tertiary), var(--secondary), $success, $danger,
                $gray, $gray, $black, $warning, $google-plus, $twitter, $linkedin, $fb;

    @each $var in $text-name {
        $i: index($text-name, $var);
        .text-#{$var} {
            color: nth($label-color, $i) !important;
        }
    }
    .txt-white{
        color: $white !important;
    }


/*---------------------------------------------
Background-color Makes CSS Class 
@each <variable> in <expression> { ... } 
-----------------------------------------------*/
    $background-name:  primary, secondary, success,  danger, info, light, dark, warning;
    $background-color: var(--primary), var(--secondary), $success, $danger, $gray, $gray, $black, $warning;
            
    @each $var in $background-name {
    $i: index($background-name, $var);
    .bg-#{$var} {
        background-color: nth($background-color, $i) !important;
    }
    }



// Btn-color
@each $btn-name, $btn-color in  (primary, var(--primary)),
        (secondary, var(--secondary)) , (success, $success),
        (danger, $danger), (info, $gray), (light, $gray),
        (dark, $black), (warning, $warning) {

    .btn-#{$btn-name}{
    background-color: $btn-color !important;
    border-color: $btn-color !important;
    &.disabled, &:disabled {
        background-color: $btn-color !important;
        border-color: $btn-color !important;
    }
    &:hover,&:focus,&:active,&.active{
        border-color: var(--primary);
    }
    }
}

.btn-primary-light {
    background-color: rgba(var(--primary), 0.1) !important;
    border: none !important;
    color: var(--primary);
    transition: 0.5s;
    &:focus, &:hover {
    background-color: rgba(var(--primary), 0.5) !important;
    color:var(--white);
    transition: 0.5s;
    }
}

/*======= Button-color css ends  ======= */
    @each $btn-name, $btn-color in  (primary, var(--primary)),
        (secondary, var(--secondary)) ,
        (success, $success),
        (danger, $danger),
        (info, $gray),
        (light, $gray),
        (dark, $black),
        (warning, $warning) {
        .btn-outline-#{$btn-name}-2x{
            border-width: 2px;
            border-color:$btn-color;
            color: $btn-color;
            background-color: transparent;
            &:hover,&:focus,&:active,&.active{
                color: white;
                box-shadow: none;
                border-color: var(--primary);
            }
        }
    }

// outline buttons//
    @each $btn-name, $btn-color in  (primary, var(--primary)),
        (secondary, var(--secondary)) ,
        (success, $success),
        (danger, $danger),
        (info, $gray),
        (light, $gray),
        (dark, $black),
        (warning, $warning) {

    .btn-outline-#{$btn-name}{
        border-color:$btn-color;
        color: $btn-color;
        background-color: transparent;
        &.disabled{
            color: $btn-color;
        }
        @if($btn-name == "light"){
            color: var(--primary-title);
        }
        &:hover,&:focus,&:active,&.active{
            color: white;
            border-color: var(--primary);
        }
        }
    }

//* active button css end *//

@each $btn-name, $btn-color in  (primary, var(--primary)),
    (secondary, var(--secondary)) ,
    (success, $success),
    (danger, $danger),
    (info, $gray),
    (light, $gray),
    (dark, $black),
    (warning, $warning) {

    .btn-outline-#{$btn-name}-2x:not([disabled]):not(.disabled).active{
    background-color:$btn-color;
    border-color:$btn-color;
    box-shadow: none !important;
    color: white;
    &:hover,&:focus,&:active,&.active{
        color: white;
        box-shadow: none !important;
        border-color: var(--primary);
    }
    }
}

// Table Border Bottom 

$border-name:primary, secondary, success, danger, info, light, dark, warning;
$border-color:var(--primary),var(--secondary),$success,$danger,
            $gray,$gray,$black, $warning;

@each $var in $border-name {
$i: index($border-name, $var);
table thead .border-bottom-#{$var} th,
table tbody .border-bottom-#{$var} th,
table tbody .border-bottom-#{$var} td {
border-bottom: 1px solid nth($border-color, $i);
}
}


// All Borders color
    $b-name: primary, secondary, success, danger, info, light, dark, warning;
    $b-color: var(--primary), var(--secondary), $success, $danger, 
            $gray, $gray, $black, $warning;

    @each $var in $b-name {
    $i: index($b-name, $var);
    .b-#{$var} {
        border: 1px solid nth($b-color, $i) !important;
    }
    .b-t-#{$var} {
        border-top: 1px solid nth($b-color, $i) !important;
    }
    .b-b-#{$var} {
        border-bottom: 1px solid nth($b-color, $i) !important;
    }
    .b-l-#{$var} {
        border-left: 1px solid nth($b-color, $i) !important;
    }
    .b-r-#{$var} {
        border-right: 1px solid nth($b-color, $i) !important;
    }
    }


// Text Color
    .text-white {
        color: $white !important;
    }
    .text-warning {
        color: $warning !important;
    }
    .text-danger {
        color: $danger !important;
    }
    .text-success {
        color: $success !important;
    }
    .text-success {
        color: $success !important;
    }
    .text-error {
        color: $error !important;
    }
    .text-blue {
        color: $blue !important;
    }

.font-weight-600{
    font-weight: 600px;
}

// Background Color
    .bg-danger {
        background-color: $danger !important;
    }
    .bg-warning {
        background-color: $warning !important;
    }
    .bg-success {
        background-color: $success !important;
    }
    .bg-error {
        background-color: $error !important;
    }
    .bg-blue {
        background-color: $blue !important;
    }
    .bg-primary {
        background-color: var(--primary) !important;
    }
    .bg-secondary {
        background-color: var(--secondary) !important;
    }
    .bg-tertiary {
        background-color: var(--tertiary) !important;
    }

// Background Color opacity
    .bg-danger-soft {
        background-color: rgba($danger,.1) !important;
    }
    .bg-warning-soft {
        background-color: rgba($warning,.1) !important;
    }
    .bg-success-soft {
        background-color: rgba($success,.1) !important;
    }
    .bg-error-soft {
        background-color: rgba($danger,.1) !important;
    }
    .bg-blue-soft {
        background-color: rgba($blue,.1) !important;
    }


// Theme BG
    .main-bg-one{
        background-color: var(--primary);
    }
    .main-bg-two{
        background-color: var(--main-color-tow);
    }
    .main-bg-three{
        background-color: var(--main-color-three);
    }
    .main-bg-four{
        background-color: var(--main-color-four);
    }
    .main-bg-five{
        background-color: var(--main-color-five);
    }

// Background Gradient

// Cart 2
    .bg-danger-gradient {

        background: -webkit-gradient(linear,left top,right top,from(#fe7096),to(#ffbf96));
        background: linear-gradient(90deg,#fe7096,#ffbf96);
        @include transition(.6s);
        // &:hover{
        //     background: linear-gradient(90deg,#fe7096,#ffbf96);
        // }
    }
    .bg-success-gradient{
        background: -webkit-gradient(linear,left top,right top,from(#07cdae),to(#84d9d2));
        background: linear-gradient(90deg,#07cdae,#84d9d2);
    }
    .bg-warning-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#ffd500),to(#f6e384));
        background: linear-gradient(90deg,#ffd500,#f6e384);
    }
    .bg-beguni-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#9a55ff),to(#da8cff));
        background: linear-gradient(90deg,#9a55ff,#da8cff);
    }
    .bg-blue-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#047edf),color-stop(99%,#90caf9));
        background: linear-gradient(90deg,#047edf,#90caf9 99%);
    }

// Cart Three
    .bg-orange-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#1B5661),color-stop(99%,#989898));
        background: linear-gradient(90deg,#1B5661,#989898 99%);
    }
    .bg-romance-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#BE3664),color-stop(99%,#222771));
        background: linear-gradient(90deg,#BE3664,#222771 99%);
    }
    .bg-tea-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#6CAD7E),color-stop(99%,#175360));
        background: linear-gradient(90deg,#6CAD7E,#175360 99%);
    }
    .bg-royal-gradient {
        background: -webkit-gradient(linear,left top,right top,from(#AA3475),color-stop(99%,#CB7326));
        background: linear-gradient(90deg,#AA3475,#CB7326 99%);
    }

// Extend Color
%overlay1{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,545454+100&0.85+0,0.06+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(84,84,84,0.06) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(84,84,84,0.06) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(84,84,84,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#0f545454',GradientType=0 ); /* IE6-9 */
}
// &::before{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   bottom: 0;
//   content: "";
//   @extend %gradient;

// }


/*-------------  Color Witch Class Name  --------------*/

// Section bg
.section-bg-one{
    background: var(--section-bg-one);
}
.section-bg-two{
    background:var(--section-bg-two);
}
.section-bg-three{
    background: var(--section-bg-three);
}
.white-bg{
    background: var(--white);
}
.black-bg{
    background: $black !important; 
}

// Color
.main-color-one{
    color: var(--primary);
}
.main-color-two{
    color: var(--secondary);
}
.main-color-three{
    color: var(--main-color-three);
}

.heading-color-one{
    color: var(--primary-title) !important;
}
.heading-color-two{
    color: var(--secondary-title) !important;
}
.paragraph-color-one{
    color: var(--primary-paragraph) !important;
}
.paragraph-color-two{
    color: var(--secondary-paragraph) !important;
}

.color-paragraph{
    color: var(--paragraph-color );
}
.gray-bg{
    background: #f5f5f5;
}
.white-bg {
    background:var(--white);
}
.black-bg {
    background: $black;
}
.g-24 {
    --bs-gutter-y: 24px;
}

.height-100vh{
    height: 100vh;
}
.panel-bg{
    background-color: var(--panel-bg) !important;
}
.facebook{
    background:  $facebook !important;
    color: var(--white) !important;
}
.twitter{
    background:  $twitter !important;
    color: var(--white) !important;
}
.linkedin{
    background:  $linkedin !important;
    color: var(--white) !important;
}
.share-btn{
    background:  var(--section-bg-two) !important;
    color: var(--primary-title) !important;
}


.color-effect{
    background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, var(--primary)), color-stop(55%, var(--primay-title)));
    background-image: linear-gradient(to right, var(--primary) 45%, var(--primay-title) 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
    cursor: pointer;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    -webkit-transition: 0.9s ease-out;
    transition: 0.9s ease-out;
    &:hover{
        background-position: 0% 50%;
    }
}


.theme-gradient{
    background: linear-gradient(115.87deg,#9A61E0 39.31%,#5B58FF 100.75%);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


$cmnChart-bg: #E4E8EF;
$cartColor-one:#28B95E ;
$cartColor-two:#696CFF ;
$cartColor-three:#F0783C;
$cartColor-four:#F04B69 ;

// Status
.status-success{
    color: $success;
    background: rgba($success,.1);
    border-radius: 16px;
    
    border: 1px solid rgba($success,.3);
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}
.status-danger{
    color: $danger;
    background: rgba($danger,.1);
    border-radius: 16px;
    
    border: 1px solid rgba($danger,.3);
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}
.status-warning{
    color: $warning;
    background: rgba($warning,.1);
    border-radius: 16px;
    border: 1px solid rgba($warning,.3);
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}
.status-pending{
    color: $cartColor-two;
    background: rgba($cartColor-two,.1);
    border-radius: 16px;
    border: 1px solid rgba($cartColor-two,.3);
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}

.status-blue{
    color: $blue;
    background: rgba($blue,.1);
    border-radius: 16px;
    border: 1px solid rgba($blue,.3);
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}
.status-error{
    color: $error;
    background: rgba($error,.1);
    border-radius: 16px;
    text-transform: capitalize;
    padding: 3px 13px;
    font-size: 12px;
    i{
        font-size: 12px !important
    }
}
